---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Rich Fly"
	pubDate={new Date('30NOV23')}
	heroImage="/rich_fly.jpeg",
	tags=""
>

	<h1>About Me - Rich Fly</h1>
	<p>
		Hi there! I am a results driven and positive teammate uniquely blending my expertise in coaching, military leadership and deep tech skills. 
		I'm passionate about driving impact to grow revenue and enhancing user engagement through strategic thinking and effective product development. 
	</p>
	
	<em><h2>My Journey</h2></em>
	<h4>Military Roots to Tech Insights:</h4>
	<p>
		My career began in the US Army 2nd Battallion, 75th Ranger Regiment, where I led dynamic teams and executed hundreds of critical missions. This experience
		instilled in me a strong sense of leadership and the ability to thrive under pressure.
	</p>
	<h4>From Coaching to Tech:</h4>
	<p>
		Transitioning from the military, while attending college at Seattle Pacific University for Business information Sytems, I channeled my 
		leadership skills into coaching and managing teams at a number of gyms like CrossFit Bothell and Emerald City Crossfit.
	</p>
	<em><h2>Professional Milestones</h2></em>
	<h4>Strategic Product Management</h4>
	<p>
		As a Senior Product Manager at STRIVE, I aligned business roadmaps, leading to streamlined product deployment and 
		significant revenue growth. My hands-on experience with tools like Figma, Maze, SQL, and Python enable me to development
		interactive dashboards and optimize product features, boosting our customer satisfaction score.
	</p>
	<h4>Innovative Design and Leadership at Fraxion</h4>
	<p>
		At Fraxion I wore multiple hats as a Product Designer and Chief of Staff. I spearheaded user research and design initiatives for the 0->1 Insights Product, 
		resulting in a 20% increase in user engagement. My efforts in adopting Figma and a utilized design system improced efficiency across teams.
	</p>
	<h4>Consulting and Teaching</h4>
	<p>
		Currently, as a consultant and owner at Onboarde, I assist organizations in information architecture and user feedback collection, enhancing their
		operational efficiency. Parallelly, I've been a teaching assistant at The Physio Detective, sharing health and fitness best practices globally.
	</p>
	<em><h3>Skills and Expertise</h3></em>
	<p>
		<ul>
			<li><b>Tech Tools:</b> Proficient in SQL, React, CSS, HTML, and advanced data analysis tools like Tableau, PowerBI, Lookr, etc.</li>
			<li><b>Design and Prototyping:</b> Skilled in UX design, wireframing, and advanced prototyping using Figma and similar tools.</li>
			<li><b>Strategic Leadership:</b> Proven ability in leading crossfunctional teams, stakeholder communications, and project management.</li>
			<li><b>Market Insight:</b> Experienced in market research, developing go-to-market strategies, and executing them effectively</li>
		</ul>
	</p>
	<em><h3>Volunteering and Beyond</h3></em>
	<p>
		I actively volunteer at Bunker Labs, supporting veteran-owned businesses. My contributions have led to significant increases in business plan completions 
		and revenue growth for these startups.
	</p>
</Layout>
