---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2>Hello, welcome to my odd mind. <h2>tik tok, apple sauce.</h2></h2>
			<p>
				In the 2020's we were/are all expected to have some sort of blog where we share things we like. 
				Most of those things should be about work, software, and/or artifical intelligence.
				Right now the hunt is on for artificial general intelligence, AGI, that could make our books,
				movies, and tv shows so we can all become Wall-E like or do what we please.
				How that works out only time will tell. In other news you should head to the <a href="/blog">the blog</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
