---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Resources"
	description="Rich Fly"
	pubDate={new Date('11DEC23')}
	heroImage="/blog-placeholder-about.jpg",
	tags=""
>
<h1>Coming Soon</h1>

</Layout>
